<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593840566794-kc349eqfqtd9tm99nbmieh20h8tivke7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593840566794-kc349eqfqtd9tm99nbmieh20h8tivke7</string>
	<key>API_KEY</key>
	<string>AIzaSyDqSlIqN-6YnoWNoZ1GOkuf4xQwIMHX51w</string>
	<key>GCM_SENDER_ID</key>
	<string>593840566794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.connectu</string>
	<key>PROJECT_ID</key>
	<string>yello-18a1e</string>
	<key>STORAGE_BUCKET</key>
	<string>yello-18a1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593840566794:ios:e01d4edf349f71a45665f3</string>
</dict>
</plist>